@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your cozy writing nook</h1>
    <p>Connect, Create, Blog</p>
    <button class="btn btn-rounded bg-secondary text-dark">CREATE YOUR BLOG</button>
</div>
